html,
body,
button,
input {
  font-family: var(--fonts);
}
body {
  color: var(--text);
  background-color: var(--background);
  transition: background-color 0.25s, color 0.25s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.25s;

  &:hover {
    color: var(--link-hover);
  }
}

.el-dialog {
  width: 46%;
  border-color: var(--card-border);
  background-color: var(--card-background);
}

.el-popover, .el-popper {
  border-width: 0;
  border-radius: 8px;
  border-color: var(--popover-border);
  box-shadow: var(--popover-shadow), var(--popover-shadow);
  background-color: var(--popover-background);
  backdrop-filter: blur(15px);
  .title {
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }
}
.popper__arrow {
  display: none;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: transparent;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: transparent;
}
.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: var(--popover-border);
}
.el-popper[x-placement^=top] .popper__arrow::after {
  border-top-color: var(--popover-background);
}
.el-select-dropdown__list,
.el-dropdown-menu {
  padding: 8px 0;
  border-radius: 10px;
  border: 1px solid var(--card-border);
}
.el-select-dropdown__item,
.el-dropdown-menu__item {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 18px;
  margin: 0 8px;
  color: var(--text);
  border-radius: 6px;
}
.el-select-dropdown__item.selected {
  color: var(--text);
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover,
.el-dropdown-menu__item.hover,
.el-dropdown-menu__item:hover,
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: var(--color-primary);
  color: white;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  background-color: var(--tag-border);
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover {
  background-color: var(--tag-border-hover);
}

.el-tag,
.el-tag.el-tag--info {
  background-color: var(--tag-background);
  border-color: var(--tag-border);
  color: var(--tag-text);
}
.el-tag.el-tag--info .el-tag__close,
.el-select .el-tag__close.el-icon-close {
  background-color: var(--tag-border);
  color: var(--tag-text);
}
.el-tag.el-tag--info.is-hit {
  border-color: var(--tag-border-hover);
}

.el-input__inner,
.el-textarea__inner {
  font-family: var(--fonts);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
}
.el-textarea__inner::placeholder,
.el-input__inner::placeholder {
  color: var(--text-placeholder);
}
.el-button--default {
  color: var(--text);
  background: var(--button-background);
  border-color: var(--button-border);
  transition: .27s;
}
.el-button--default:focus, .el-button--default:hover {
  color: var(--button-hover-color);
  border-color: var(--button-hover-border);
  background-color: var(--button-hover-background);
}
.el-range-input,
.el-input__inner,
.el-textarea__inner {
  color: var(--text);
  background-color: var(--input-background);
  border-color: var(--input-border);
  border-radius: 8px;
  transition: background-color .25s, border-color .25s;
  &:hover:not(:focus) {
    background-color: var(--input-hover-background);
    border-color: var(--input-hover-border);
  }
}
.el-input.is-active .el-input__inner,
.el-select .el-input__inner:focus,
.el-textarea__inner:focus,
.el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner {
  background-color: var(--input-focus-background);
  border-color: var(--input-focus-border);
}
.el-select:hover .el-input__inner {
  border-color: var(--input-hover-border);
}

.el-table {
  color: var(--text);
  background-color: var(--table-background);
}
.el-table .cell {
  white-space: nowrap;
  user-select: none;
}
.el-table td, .el-table th {
  padding: 5px 0;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-loading-mask,
.el-table__empty-block,
.el-table th, .el-table tr {
  cursor: default;
  background-color: var(--table-background);
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: var(--table-background-striped);
}
.el-table td, .el-table th.is-leaf {
  margin: 5px 10px;
  border-bottom: none;
}
.el-table td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.el-table td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.el-table__body tr.current-row>td,
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
  background-color: var(--table-selected);
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: var(--table-hover);
}
.el-table--enable-row-hover .el-table__body tr.current-row:hover>td {
  background-color: var(--table-selected);
}
.infinite-loading-container[data-v-644ea9c9] {
  background-color: transparent;
}

.el-checkbox__inner,
.el-checkbox__input.is-disabled .el-checkbox__inner,
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  border-color: var(--checkbox-border);
  background-color: var(--checkbox-background);
}

.el-divider {
  background-color: var(--divider);
  position: relative;
}
.el-divider--horizontal {
  margin: 10px 0;
}

.el-collapse {
  border-top: none;
  border-bottom: none;
}
.el-collapse-item__header {
  color: var(--text);
}
.el-collapse-item__header,
.el-collapse-item__wrap {
  background-color: transparent;
  border-bottom: none;
}
.el-upload-list__item:hover {
  background-color: var(--popover-hover);
}
.el-form-item__error {
  font-size: 12px;
  padding-top: 0;
  top: 0;
  line-height: 40px;
  left: auto;
  right: 15px;
}
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  background-color: #f56c6c26;
  border-color: transparent;
}
.el-message {
  border: none;
  border-radius: 8px;
  padding: 20px 20px 20px 25px;
}
.el-collapse-item__header {
  color: var(--text);
  padding-left: 12px;
  font-size: 15.5px;
  font-weight: 600;
  height: 35px;
  line-height: 35px;
}
.el-tabs {
  width: 100%;
}
.el-tabs__content,
.el-tab-pane {
  height: 100%;
}
.el-tabs__item {
  color: var(--text);
}
.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}