.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: .25s;
}
.slide-fade-enter {
  transform: scale(0.996) translateX(-10px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: scale(0.996) translateX(10px);
  opacity: 0;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: .2s;
}
.page-fade-enter {
  opacity: 0;
  transform: scale(0.995);
}
.page-fade-leave-to {
  opacity: 0;
  transform: scale(0.995);
}

.fade-enter-active,
.fade-leave-active {
  transition: .3s;
}
.fade-enter {
  opacity: 0;
  transform: scale(0.98) translateY(-3px);
}
.fade-leave-to {
  opacity: 0;
  transform: scale(0.98) translateY(3px);
}

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  transition: .3s;
}
.el-zoom-in-top-enter {
  opacity: 0;
  transform: scale(0.92) translateY(-8px);
}
.el-zoom-in-top-leave-to {
  opacity: 0;
  transform: scale(0.92) translateY(8px);
}
