.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: .25s;
}
.slide-fade-enter {
  transform: scale(0.996) translateX(-10px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: scale(0.996) translateX(10px);
  opacity: 0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: .2s;
}
.fade-up-enter {
  transform: translateY(-5px);
  opacity: 0;
}
.fade-up-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: .3s;
}
.fade-enter {
  opacity: 0;
  transform: scale(1) translateY(-3px);
}
.fade-leave-to {
  opacity: 0;
  transform: scale(0.98) translateY(3px);
}

.el-zoom-in-top-enter-active,
.el-zoom-in-top-leave-active {
  transition: .3s;
}
.el-zoom-in-top-enter {
  opacity: 0;
  transform: scale(0.95) translateY(-8px);
}
.el-zoom-in-top-leave-to {
  opacity: 0;
  transform: scale(0.95) translateY(8px);
}
