:root {
  --header-height: 90px;
  --sidebar-width: 225px;
  --border-radius: 5px;
  --border-width: 2px;
  --fonts: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
  --header-font: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif
}

[theme="light"] {
  --color-primary: #1da1f1;
  --color-primary-dark: #006caa;

  --background-1: #f9f9f9;
  --background-2: #f6f6f6;
  --background-3: #ffffff;
  --background-4: #e9e9e9;
  --background-5: #dedede;
  --background-6: #adadad;

  --background: #ffffff;
  --text: #303030;
  --text-muted: #a5a7ac;
  --text-placeholder: #505050;
  --link: var(--color-primary);
  --link-hover: #005180;

  --divider: #e9e9e9;

  --header-background: transparent;
  --header-text: #a5a7ac;

  --search-text: #202020;
  --search-background: rgba(255, 255, 255, 0.1);
  --search-hover: rgba(255, 255, 255, 0.1);
  --search-active: rgba(255, 255, 255, 0.9);

  --sidebar-background: #f5f6f7;
  --sidebar-background-rgb: 245, 246, 247;
  --sidebar-border: rgb(230, 235, 240);
  --sidebar-text: #383a3e;
  --sidebar-text-hover: #f6f6f6;
  --sidebar-item-hover-background: #e1e6eb;
  --sidebar-item-active-text: #31353a;
  --sidebar-item-active-background: #dce1e6;

  --input-background: #f5f5f7;
  --input-border: transparent;
  --input-hover-background: #f0f1f2;
  --input-hover-border: transparent;
  --input-focus-background: #edeeef;
  --input-focus-border: transparent;

  --button-background: #f3f4f7;
  --button-border: transparent;
  --button-hover-border: transparent;
  --button-hover-color: #ffffff;
  --button-hover-background: var(--color-primary);

  --card-background: var(--background);
  --card-border: var(--background-4);

  --popover-background: rgba(255, 255, 255);
  --popover-border: var(--popover-background);
  --popover-hover: #f1f1f1;
  --popover-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);

  --dropdown-background: #ffffff;
  --dropdown-shadow: 0 14px 30px rgba(101, 185, 172, 0.25), 0 4px 4px rgba(103, 187, 174, .1);
  --dropdown-item-hover-background: rgb(237, 245, 245);

  --tag-background: var(--background-3);
  --tag-border: var(--background-4);
  --tag-border-hover: var(--background-5);
  --tag-text: var(--background-6);

  --table-background: var(--background);
  --table-background-striped: var(--background-2);
  --table-border: var(--background-2);
  --table-selected: rgba(196, 218, 254, 1);
  --table-hover: rgba(196, 218, 254, 0.5);

  --checkbox-background: var(--background-3);
  --checkbox-border: var(--background-5);
}

[theme="dark"] {
  --color-primary: rgba(0, 136, 204, 0.85);
  --color-primary-dark: #006caa;

  --background-1: #1b1b1b;
  --background-2: #222222;
  --background-3: #303030;
  --background-4: #353535;
  --background-5: #404040;
  --background-6: #585858;

  --background: var(--background-1);
  --text: #eeeeee;
  --text-muted: #8c8c8c;
  --text-placeholder: #cdcdcd;
  --link: var(--color-primary);
  --link-hover: #009cee;

  --divider: #464646;

  --header-background: transparent;
  --header-text: #f6f6f6;

  --search-text: #202020;
  --search-background: rgba(255, 255, 255, 0.05);
  --search-hover: rgba(255, 255, 255, 0.08);
  --search-active: rgba(255, 255, 255, 0.9);

  --sidebar-background: #222222;
  --sidebar-background-rgb: 34, 34, 34;
  --sidebar-border: rgb(43, 43, 43);
  --sidebar-text: #f6f6f6;
  --sidebar-text-hover: var(--text);
  --sidebar-item-hover-background: rgba(220, 225, 230, 0.07);
  --sidebar-item-active-text: #f6f6f6;
  --sidebar-item-active-background: rgba(220, 225, 230, 0.1);

  --button-background: var(--background-3);
  --button-border: transparent;
  --button-hover-border: transparent;
  --button-hover-color: var(--text);
  --button-hover-background: var(--color-primary);

  --input-border-hover: var(--background-3);
  --input-border-focus: var(--background-5);

  --input-background: #242424;
  --input-border: transparent;
  --input-hover-background: #262626;
  --input-hover-border: transparent;
  --input-focus-background: #303030;
  --input-focus-border: transparent;

  --card-background: var(--background-1);
  --card-border: var(--background-3);

  --popover-background: rgba(48, 48, 48);
  --popover-border: var(--background-3);
  --popover-hover: var(--background-5);
  --popover-shadow: 0 0 20px rgba(0,0,0,.05);

  --dropdown-background: #242424;
  --dropdown-shadow: 0 14px 30px rgba(27, 27, 27, 0.15), 0 4px 4px rgba(27, 27, 27, .05);
  --dropdown-item-hover-background: rgba(27,27,27,.6);

  --tag-background: var(--background-2);
  --tag-border: var(--background-4);
  --tag-border-hover: var(--background-5);
  --tag-text: var(--text);

  --table-background: var(--background);
  --table-background-striped: var(--background-2);
  --table-border: var(--background-2);
  --table-selected: var(--background-5);
  --table-hover: var(--background-4);

  --checkbox-background: var(--background-3);
  --checkbox-border: var(--background-5);
}
