@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 300;
  src: local('SF Pro Text Light'), local('SFProText-Light'), url('../assets/fonts/SFPro/SFProText-Light.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Text Regular'), local('SFProText-Regular'), url('../assets/fonts/SFPro/SFProText-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: local('SF Pro Text Medium'), local('SFProText-Medium'), url('../assets/fonts/SFPro/SFProText-Medium.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  src: local('SF Pro Text SemiBold'), local('SFProText-SemiBold'), url('../assets/fonts/SFPro/SFProText-SemiBold.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Text Bold'), local('SFProText-Bold'), url('../assets/fonts/SFPro/SFProText-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'), url('../assets/fonts/SFPro/SFProDisplay-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'), url('../assets/fonts/SFPro/SFProDisplay-Medium.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  src: local('SF Pro Display SemiBold'), local('SFProDisplay-SemiBold'), url('../assets/fonts/SFPro/SFProDisplay-SemiBold.woff2') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'), url('../assets/fonts/SFPro/SFProDisplay-Bold.woff2') format('woff');
}