@import '~vue-context/src/sass/vue-context';

.v-context {
  &, & ul {
    background: var(--dropdown-background);
    backdrop-filter: blur(10px);
    padding: 10px 0;
    border: none;
    border-radius: 7px;
    box-shadow: var(--dropdown-shadow);
    overflow-y: unset;
    > li {
      padding: 10px 15px;
      margin: 0 10px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.05s;
      color: var(--text);
      &:hover {
        background-color: var(--dropdown-item-hover-background);
      }
    }
  }
  &__sub {
    > a:after {
      content: "\2bc8";
      float: right;
      padding-left: 1rem;
    }
    > ul {
      margin-top: -3px;
      margin-left: 10px;
      display: none;
    }
    &:hover > * {
      display: block;
    }
  }
  .el-divider {
    margin: 8px 0;
  }
}
