@import '~vue-context/src/sass/vue-context';

.v-context {
  &, & ul {
    background: var(--dropdown-background);
    padding: 6px 0;
    border: none;
    border-radius: 5px;
    box-shadow: var(--dropdown-shadow);
    overflow-y: unset;
    > li a {
      padding: 10px 16px;
      margin: 0 6px;
      font-size: 13px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.05s;
      color: var(--text);
      &:hover {
        background-color: var(--dropdown-item-hover-background);
        color: var(--text);
      }
    }
  }
  &__sub {

    > a::before,
    > a::after {
      float: unset;
      padding-left: 0;
      border-right: 1px solid;
      content: '';
      display: block;
      height: 8px;
      margin-top: -6px;
      position: absolute;
      transform: rotate(135deg);
      right: 22px;
      top: 50%;
      width: 0;
    }
    > a::after {
      margin-top: -1px;
      transform: rotate(45deg);
    }
    > ul {
      margin-top: -3px;
      margin-left: 10px;
    }
  }
  .el-divider {
    margin: 5px 0;
  }
}
